.MuiSlider-marked{
  margin-bottom: 8px !important;
}

.Select-menu-outer {
  position: relative !important;
}

.Select{
  font-family: 'Titillium Web' !important;
}

.Select-control{
  border-color: #999 !important;
  border-radius: 0 !important;
}


/* Styles for the Load More button */
.load-more-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 1em;
  gap: 20px;
}

.load-more-button {
  background-color: white;
  color: gray;
  border: 1px solid gray;
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
}

.load-more-button.loading {
  background-color: gray;
  color: white;
  border: none;
}

.load-more-button:hover:not(.loading) {
  background-color: lightgray;
}

.load-more-button:focus {
  outline: none;
}


/* Styles for the Load More button */
.load-all-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 1em;
}

.load-all-button {
  background-color: white;
  color: gray;
  border: 1px solid gray;
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
}

.load-all-button.loading {
  background-color: gray;
  color: white;
  border: none;
}

.load-all-button:hover:not(.loading) {
  background-color: lightgray;
}

.load-all-button:focus {
  outline: none;
}
